
body {margin:0px; padding:0px; font:normal 12px Arial,Helvetica,sans-serif; color:#333; background:#fff;}
a,
a:link,
a:visited {color:#014399; text-decoration:nonel}
#bttop{position:fixed;bottom:35px;right:10px;cursor:pointer;display:none;color:#fff;font:bold 10pt Arial,Helvetica,sans-serif; text-transform:uppercase;}
.box-container {display:inline-block; clear:both; width:100%; padding-bottom:10px;}


#header {background:url(../img/header.png) no-repeat top center; width:100%; display:inline-block; clear:both; min-width:1000px;}
#header .header-container {width:1000px; margin:0 auto;}
#header .header-container .logo {float:left; width:40%; padding:35px 0px 0px 30px;}
#header .header-container .search-box {float:right; width:50%; text-align:right;}
#header .header-container .search-box .top-link {clear:both; padding-top:35px; padding-bottom:8px;}
#header .header-container .search-box .top-link ul {list-style:none; padding:0px; margin:0px; float:right; }
#header .header-container .search-box .top-link ul li {float:left; margin-left:15px;}
#header .header-container .search-box .top-link ul li a img {border:0px;}
#header .header-container .search-box .top-search {clear:both; margin-top:10px; display:inline-block; float:right;}
#header .header-container .search-box .top-search .input {border:1px solid #DDC2B2; padding:2px; display:inline-block; float:right;}
#header .header-container .search-box .top-search .input input {border:0px; outline:none; padding:5px 5px; font:normal 12px Arial,Helvetica,sans-serif; color:#A40000; width:200px; float:left; background:none;}
#header .header-container .search-box .top-search .input img {border:0px; float:left;}

#menu {display:inline-block; clear:both; width:100%; background:#022946; margin-top:5px; min-width:1000px; border-top:1px solid #3184D2;}
#menu .menu-contaier {width:1000px; margin:0 auto;}
#menu ul {list-style:none; padding:0px; margin:0px;}
#menu ul li {float:left; margin-right:5px; position:relative;}
#menu ul li a {display:block; padding-left:15px;}
#menu ul li a span {display:block; padding:15px 15px 15px 0px; color:#E1E7F3; font-weight:bold; font-size:14px;}

#menu div > ul > li:hover > a,
#menu div > ul > li:hover > a > span,
#menu ul li a:hover {background:#A40000;}
#menu ul li a.actived {background:url(../img/menu-hover.gif) no-repeat top left;}
#menu ul li a:hover span {background:#A40000;}
#menu ul li a.actived span{background:url(../img/menu-hover.gif) no-repeat top right; color:#fff;}
#menu ul li ul {position:absolute; background:#022946; width:250px; display:none; z-index:9999999;}
#menu ul li:hover ul {display:block;}
#menu ul li ul li {width:100%; border-top:1px solid #004677;}
#menu ul li ul li a {padding-left:15px; background:none;}
#menu ul li ul li a span {background:none !important;font-weight:bold; font-size:13px; padding:10px 10px 10px 0px; line-height:1.4; text-align:justify;}
#menu ul li ul li a:hover,
#menu ul li ul li a:hover span,
#menu ul li ul li a.actived,
#menu ul li ul li a.actived span {background:#A40000;}



#footer {background:url(../img/footer-bg.png) no-repeat top center; min-width:1000px;}
#footer .footerContainer {width:1000px; margin:0 auto;}
#footer .footer-link {width:100%; display:inline-block; clear:both; padding:18px 0px;}
#footer .footer-link ul {list-style:none; padding:0px; margin:0px; padding-left:15px;}
#footer .footer-link ul li {float:left; margin-left:15px;}
#footer .footer-link ul li a,
#footer .footer-link ul li a:link,
#footer .footer-link ul li a:visited,
#footer .footer-link ul li span {font-weight:bold; font-size:14px; color:#E1E7F3; }
#footer .footer-link ul li a:hover {color:#fff;}
#footer .footer-content {width:100%; display:inline-block; clear:both; padding:10px 0px;}
#footer .footer-content p {line-height:1.4; color:#FEFFFF;}
#footer .footer-content .left {float:left; width:315px; padding-left:30px;}
#footer .footer-content .right {float:left; width:350px; padding-top:15px;}


#content {width:100%; display:inline-block; clear:both; padding:20px 0px 10px 0px;}
#content #content-container {width:1000px; margin:0 auto;}
.layouts-home {width:100%; display:inline-block; clear:both;}
.layouts-home .left-670 {float:left; width:670px; min-height:920px;}
.layouts-home .right-320 {float:right; width:320px;}



.hot-news {display:inline-block; clear:both; width:100%;}
.hot-news .left {float:left; width:670px; position:relative;}
.hot-news .left .hot-news-image {}
.hot-news .left .hot-news-image img {width:100%; border:0px; position:relative;}
.hot-news .left .hot-news-cover {background:#E3E4E6; opacity: 0.9; filter: alpha(opacity=90); position:absolute; bottom:0px; width:100%;} 
.hot-news .left .hot-news-cover p.title {padding:15px 15px 0px 40px; background:url(../img/hot-news-icon.jpg) no-repeat 10px 13px; font-size:15px; font-weight:bold;}
.hot-news .left .hot-news-cover p.title a,
.hot-news .left .hot-news-cover p.title a:link,
.hot-news .left .hot-news-cover p.title a:visited {color:#A10200; }
.hot-news .left .hot-news-cover p.title a:hover {color:#022946;}
.hot-news .left .hot-news-cover p.des {padding:10px; line-height:1.4; color:#022946;}

.hot-news .right {float:right; width:320px; background:#FFF1E8;}
.hot-news .right .head {width:100%; display:inline-block; clear:both;}
.hot-news .right .head .title {float:left; width:40%; background:url(../img/icon-hotnews.jpg) no-repeat 8px 15px; padding:10px 0px 10px 8%; font-size:16px; font-weight:bold; color:#A50000;}
.hot-news .right .head .date {float:right; width:48%;padding-top:12px; font-size:11px; color:#555; font-family:Tahoma;}
.hot-news .right ul {margin:0px; padding:0px; list-style:none;}
.hot-news .right ul li {padding-bottom:1px;}
.hot-news .right ul li a,
.hot-news .right ul li a:link,
.hot-news .right ul li a:visited {display:block; background:url(../img/icon-hot-news-item.jpg) no-repeat 8px 11px; padding:6px 10px 6px 20px; line-height:1.4; text-align:justify; color:#222;}
.hot-news .right ul li a span {font-size:11px; color:#777; font-family:Tahoma; font-style:italic;}
.hot-news .right ul li a:hover,
.hot-news .right ul li a.actived {background:url(../img/icon-hot-news-item-hover.jpg) no-repeat 8px 11px #E5EAEE; color:#2F5D91;}
.hot-news .right ul li a.actived {font-weight:bold;}



.box-news-2cols {}
.box-news-2cols .left {float:left; width:330px;}
.box-news-2cols .right {float:right; width:330px;}
.box-news-home {width:100%; display:inline-block; clear:both;}
.box-news-home .header {background:url(../img/box-blue.jpg) no-repeat top left; padding-left:55px;}
.box-news-home .header .header-container {background:url(../img/box-blue.jpg) no-repeat top right; padding:11px 10px 10px 0px; font-size:14px; font-weight:bold;}
.box-news-home .header .header-container a,
.box-news-home .header .header-container a:link,
.box-news-home .header .header-container a:visited {color:#E1E7F3;}
.box-news-home .header .header-container a:hover {color:#fff;}
.box-news-home .content {padding:12px 10px; border:1px solid #CAD3DA; border-top:0px;}
.box-news-home .content .first {display:inline-block; clear:both; padding-bottom:10px;}
.box-news-home .content .first a.img {border:1px solid #ccc; display:block; width:125px; float:left; margin-right:10px;}
.box-news-home .content .first a.img:hover {border:1px solid #2A628C;}
.box-news-home .content .first a.img img {width:100%; border:0px;}
.box-news-home .content .first p.title {font-weight:bold; line-height:1.4; text-align:justify;}
.box-news-home .content .first p.title a,
.box-news-home .content .first p.title a:link,
.box-news-home .content .first p.title a:visited {color:#333;}
.box-news-home .content .first p.title a:hover {color:#2A628C;}
.box-news-home .content .first p.title span {font-weight:normal; color:#555;}

.box-news-home .content ul {list-style:none; padding:0px; margin:0px;}
.box-news-home .content ul li {background:url(../img/arr-01.jpg) no-repeat 0px 5px; padding:0px 0px 15px 15px;text-align:justify; line-height:1.4;}
.box-news-home .content ul li a,
.box-news-home .content ul li a:link,
.box-news-home .content ul li a:visited {color:#333;}
.box-news-home .content ul li a:hover {color:#2A628C;}
.box-news-home .content ul li span {font-weight:normal; color:#666;}
.box-news-home .content-container {width:100%; display:inline-block; clear:both;}
.box-news-home .left {float:left; width:310px;}
.box-news-home .right {float:right; width:310px;}
.box-news-home .left-link {float:left; width:315px;}
.box-news-home .right-link {float:right; width:315px;}
.box-news-home .box-content-link a.cover {display:block; margin-bottom:10px;}
.box-news-home .box-content-link img {width:100%; border:0px;}
.box-news-home .box-content-link ul li {background:url(../img/arr04.jpg) no-repeat 0px 5px; padding:0px 0px 15px 15px;text-align:justify; line-height:1.4; }
.box-news-home .box-content-link ul li a,
.box-news-home .box-content-link ul li a:link,
.box-news-home .box-content-link ul li a:visited {font-weight:bold; color:#2B618D; font-size:13px;}
.box-news-home .box-content-link ul li a:hover {color:#A40000;}
.box-news-home .box-content-link ul li.red {background:url(../img/arr-03.jpg) no-repeat 0px 5px; padding:0px 0px 15px 15px;text-align:justify; line-height:1.4; }
.box-news-home .box-content-link ul li.red a,
.box-news-home .box-content-link ul li.red a:link,
.box-news-home .box-content-link ul li.red a:visited {font-weight:bold; color:#A40000;}
.box-news-home .box-content-link ul li.red a:hover {color:#2B618D;}


.box-red .header {background:url(../img/box-red.jpg) no-repeat top left; padding-left:55px;}
.box-red .header .header-container {background:url(../img/box-red.jpg) no-repeat top right; padding:11px 10px 10px 0px; font-size:14px; font-weight:bold;}
.box-red .header .header-container a,
.box-red .header .header-container a:link,
.box-red .header .header-container a:visited {color:#F4B6BB;}
.box-red .header .header-container a:hover {color:#fff;}
.box-red .content .first a.img:hover {border:1px solid #A40000;}
.box-red .content .first p.title a:hover {color:#A40000;}




.box-gallery-home {background:#FFF1E8; display:inline-block; clear:both; width:100%;}
.box-gallery-home .top {background:#F6D8D0; display:inline-block; clear:both; width:100%;}
.box-gallery-home .top .header {float:left; width:635px; padding-left:45px;}
.box-gallery-home .top .header .title {background:url(../img/gallery-title-box.jpg) no-repeat top right; display:inline-block; clear:both; min-width:300px; padding:9px 30px 9px 10px;}
.box-gallery-home .top .header .title a,
.box-gallery-home .top .header .title a:link,
.box-gallery-home .top .header .title a:visited {color:#F4B6BB; font-weight:bold; font-size:14px;}
.box-gallery-home .top .header .title a:hover {color:#fff;}
.box-gallery-home .top .description {padding:5px 0px 20px 0px; color:#444; text-align:justify;}

.box-gallery-home .top .other-gallery {float:right; width:270px; padding:15px 30px 0px 0px;}
.box-gallery-home .top .other-gallery select {border:1px solid #E0B9AF; padding:6px 8px; background:#F0EBE8; width:100%; color:#A40001}
.box-gallery-home .content {padding:20px 50px;}




.box-video-home { background:#E5EAEE;}
.box-video-home .video-player {padding:15px 20px;}
.box-video-home .video-player video {width:100%;}

.box-video-home .video-playlist {}
.box-video-home .video-playlist .header { padding:0px 20px;}
.box-video-home .video-playlist .header a {display:block; background:url(../img/media-title.jpg) no-repeat top left; padding-left:10px;}
.box-video-home .video-playlist .header a span {display:block; background:url(../img/media-title.jpg) no-repeat top right; padding:10px 20px 10px 0px; font-size:14px; font-weight:bold; color:#DFE9F5;}
.box-video-home .video-playlist .header a:hover span {color:#fff;}
.box-video-home .video-playlist ul {list-style:none; padding:15px 20px 0px 10px; margin:0px;}
.box-video-home .video-playlist ul li {line-height:1.4;}
.box-video-home .video-playlist ul li a,
.box-video-home .video-playlist ul li a:link,
.box-video-home .video-playlist ul li a:visited {font-weight:normal; color:#333; font-size:12px;}
.box-video-home .video-playlist ul li span {font-size:11px; color:#666; font-family:Tahoma,Helvetica,sans-serif;}
.box-video-home .video-playlist ul li a:hover {color:#345B92;}
.box-video-home .video-playlist ul li.actived a {font-weight:bold; color:#345B92;}
.box-video-home .video-playlist ul li .actived span {color:#444;}
.box-video-home .video-playlist ul li.video {background:url(../img/icon-camera.jpg) no-repeat 0px 2px; padding:0px 0px 10px 30px;}
.box-video-home .video-playlist ul li.audio {background:url(../img/icon-audio.jpg) no-repeat 0px 2px; padding:0px 0px 10px 30px;}





.box-weather-home {}
.box-weather-home .header {background:url(../img/box-title-thoitiet.jpg) no-repeat left 17px #B9C7D2; width:100%; display:inline-block; clear:both;}
.box-weather-home .header .title {float:left; width:35%; font-size:14px; color:#2B618D; font-weight:bold;}
.box-weather-home .header .title span {display:block;padding:15px 10px 15px 35px; }
.box-weather-home .header .select {float:right; width:60%; padding-top:10px;}
.box-weather-home .header .select select {background:#fff; width:95%; padding:5px 8px; border:1px solid #DAE9F8; font-size:12px; color:#444; font-family:Arial,Helvetica,sans-serif;}
.box-weather-home .content {background:#E5EAEE; padding:5px;}
.box-weather-home .content .content-border {background:#fff; padding:10px;}

.box-weather-home .content sup {font-size: 75%; vertical-align:super;}
.box-weather-home .content .today {display:inline-block; clear:both; width:100%; border-bottom:1px solid #eee; padding-bottom:10px;}
.box-weather-home .content .today img {float:left; width:50px; margin-right:10px;}
.box-weather-home .content .today .temper {font-weight:bold; font-size:26px; color:#454545;}
.box-weather-home .content .today .des {color:#777;}
.box-weather-home .content ul {list-style:none; padding:0px; margin:0px; display:inline-block; clear:both; width:100%; padding-top:10px;}
.box-weather-home .content ul li {float:left; width:33.3%;  text-align:center;}
.box-weather-home .content ul li span {display:inline-block; clear:both; width:100%; margin-bottom:5px;}
.box-weather-home .content ul li img {width:35px; }
.box-weather-home .content ul li .date {color:#666;}
.box-weather-home .content ul li .temper {color:#222;}




.box-ads-right {}
.box-ads-right ul {list-style:none; padding:0px; margin:0px;}
.box-ads-right ul li a {display:block; border:1px solid #ddd;}
.box-ads-right ul li a img {width:100%;}



.box-site-link {background:#7F1D2A; padding-bottom:8px;}
.box-site-link .border {background:#2B618D; padding:12px 25px;}
.box-site-link .border select {width:100%; padding:8px 10px; font-size:16px; color:#2B618D; }




.doc-items {padding:10px 0px;}
.table-doc {background:#dedede;
    border-collapse: separate;
    border-spacing: 1px;
}
.table-doc th {background:#f1f1f1; text-align:center; font-weight:bold; padding:5px 10px;  font-size:12px; white-space:nowrap;}
.table-doc td {background:#fff; padding:5px 8px; font-size:12px; text-align:justify; line-height:1.4; vertical-align:middle;}
.table-doc td.file {text-align:center;}
.table-doc td.label {white-space:nowrap; background:#f1f1f1;}
.table-doc td a,
.table-doc td a:link,
.table-doc td a:visited {color:#333;}
.table-doc td a:hover {color:#022946;}


.paging {padding:5px 5px;}
.paging span {display:block; padding: 4px; float:left; margin-right:5px;}
.paging { margin: 5px 0px 20px 0px;}
.paging a,
.paging a:link,
.paging a:visited {display:block; padding: 6px 10px; float:left; margin-right:5px;-moz-border-radius:0px 0px 3px 3px;background:-moz-linear-gradient(center top , #F6D8D0, #FFB8A6) repeat scroll 0 0 #F6D8D0;border:1px solid #A14C32;cursor pointer; text-decoration: none; color:#555555; font:normal 12px Arial, Geneva, sans-serif;}
.paging a:hover, 
.paging a.current{overflow:visible;background-color:#67b4e3; background:-moz-linear-gradient(center top , #e75c5c, #ea1b1b) repeat scroll 0 0 #a40001; color:#FFF; border:1px solid #7b1010;}
.paging-header {padding:5px; background: none; width: auto;}

/*breadcrumb*/
.breadcrumb {list-style: outside none none; padding: 8px 0px; border-bottom:1px solid #eee; margin-bottom:5px; }
.breadcrumb h1, 
.breadcrumb h2, 
.breadcrumb h3 {font:normal 14px Arial, Helvetica, sans-serif; padding:0px; margin:0px;}
.breadcrumb > li {display: inline-block; margin-right:5px; color:#333; font:normal 14px Arial, Helvetica, sans-serif;}
.breadcrumb > li.divider {}
.breadcrumb > li a,
.breadcrumb > li a:link,
.breadcrumb > li a:visited {color:#222;}
.breadcrumb > li a:hover {color:#4471c2}
.breadcrumb > li.active a {color:#4471c2}
/*breadcrumb*/


.other-news {display:inline-block; clear:both; width:100%; margin:15px 0px;}
.other-news .title {padding: 8px 0px; border-bottom:1px solid #ddd; margin-bottom:5px; font-size:14px; color:#222; }
.other-news ul {padding-left:15px;}
.other-news ul li {padding-bottom:5px; line-height:1.4;}
.other-news ul li a,
.other-news ul li a:link,
.other-news ul li a:visited {color:#333; font:normal 13px Arial, Helvetica, sans-serif;}
.other-news ul li a:hover {color:#A40001}
.other-news ul li span {color:#666; font-size:12px;}

/*tin câp 2*/
.box-content {padding-bottom:20px;}
.box-content .content .first-news {padding:5px 0px; display:inline-block; clear:both; width:100%; }
.box-content .content .news-items {padding:10px 0; display:inline-block; clear:both; width:100%; border-bottom:1px dotted #eee;}
.box-content .content .news-items:last-child {border:0px;}
.box-content .content .odd {background:#FFFBF1;} 
.box-content .content .news-items a img {float:left; margin-right:10px; padding:1px; background:#fff; border:1px solid #ccc; width:160px !important;}
.box-content .content .first-news a img {width:220px !important;}
.box-content .content .news-items p.title {text-align:justify; padding-bottom:8px;}
.box-content .content .news-items p.title a,
.box-content .content .news-items p.title a:link,
.box-content .content .news-items p.title a:visited {color:#2C618D; font:bold 16px Arial, Helvetica, sans-serif;}
.box-content .content .news-items p.title a:hover {color:#BF5235;}
.box-content .content .news-items p.date {font:normal 12px Arial, Geneva, sans-serif; color:#888; padding-bottom:5px;}
.box-content .content .news-items .des,
.box-content .content .news-items .des p {color:#555; font:normal 13px Arial, Helvetica, sans-serif; text-align:justify;line-height:150%;}
.box-content .content .more {text-align:right; padding-right:5px;}
.box-content .content .more a {color:#DA251C;}




.new-content {}
.new-content h1 {font-size:20px; font-weight:bold; padding-bottom:6px;}
.new-content p.date {color:#555; padding-bottom:6px;}
.new-content .des {margin-bottom:20px;}
.new-content .des * {font-size:15px; font-weight:bold; color:#666; line-height:1.4;}

.dtContentImgWrap, #table2 {
}
.new-content table {
    margin: 10px auto 20px;
    text-align: center;
}

.dtContentImgWrap td {
    text-align: center;
    width: 250px;
}
.dtContentImgWrap td {
    text-align: center;
    width: 250px;
}
.dtContentImgDesc {
    color: #666;
    font-style: italic;
    width: auto;
}

.new-content *,
.new-content * p {font-size:14px; line-height:1.4;}
.new-content * p {padding:8px 0px;}
.new-content * ul {margin-left:15px;}
.new-content * b,
.new-content * strong,
.new-content * strong *,
.new-content * b * {font-weight:bold;}

.new-content b {font-weight:bold;}
.new-content strong {font-weight:bold;}

.new-content i {font-style:italic;}
.new-content em {font-style:italic;}
.new-content * i,
.new-content * i * {font-style:italic;}
.new-content * em,
.new-content * em * {font-style:italic;}  




.box-ads-left {}
.box-ads-left ul {list-style:none; padding:0px; margin:0px;}
.box-ads-left ul li a {display:block;}
.box-ads-left ul li a img {width:100%;  border:1px solid #ddd;}

.box-ads-right {}
.box-ads-right ul {list-style:none; padding:0px; margin:0px;}
.box-ads-right ul li a {display:block;}
.box-ads-right ul li a img {width:100%;  border:1px solid #ddd;}
