
fieldset.forms
{
border: 1px solid #ccc;
background: #fafafa;
padding: 15px;
margin-top: 5px;
border-radius: 3px 3px 3px 3px;
}
fieldset.forms tr td
{
padding: 8px 12px;
vertical-align: top;
}
fieldset.forms tr td.submit
{
text-align: center;
}
fieldset.forms input, select, textarea
{
border: 1px solid #BDBCBC;
}
fieldset.forms input:focus, fieldset.forms select:focus, fieldset.forms textarea:focus
{
border-color: #666D51;
background:#FEFFFB;
}
fieldset.forms input[type=text], fieldset.forms select, fieldset.forms textarea
{
padding: 5px;
width: 98%;
}
fieldset.forms textarea {line-height:155%; text-align:justify;}
fieldset.forms select
{
width: 100%;
}
fieldset.forms input[type=checkbox]
{
margin: 4px 0px;
padding: 0px;
width: 15px;
}
fieldset.forms label
{
text-align: right;
vertical-align: top;
padding-top:3px;
}
fieldset.forms .tabledetails tr td
{
border-bottom: 1px dotted #BDBCBC;
padding: 4px 10px;
}
fieldset.forms .tabledetails tr td.label
{
border-right: 1px dotted #BDBCBC;
background: none repeat scroll 0 0 #EFEFEF;
color: #666;
font-weight: bold !important;
}
.headear {display:inline-block; clear:both; width:100%;}
.searchbox {float:left;}
legend {border:1px solid #ccc; padding:5px 8px;  background:#f4f4f4;border-radius: 3px 3px 3px 3px;}
            
.row-data {display:inline-block; clear:both; width:100%; border-bottom:1px dotted #dedede;}
.row-data .display-label {float:left; /*color:#888*/; padding:5px 0px;}
.row-data .display-field {float:left;width:578px; background-color:#fff; text-align:justify; padding:5px; border-left:1px dotted #ddd; border-right:1px dotted #ddd; min-height:12px; }
.row-data .display-field ul li {padding:2px;}
.row-data .red {color:#EB2700;}
.row-data .display-field p {line-height:150%;}

.row-data-form {display:inline-block; clear:both; width:100%; padding:5px 0 0 0;  }
.row-data-form .editor-label,.row-data-form .editor-label-image {display:block; float:left;padding-top:5px;  color:#888;margin-right:10px;}     
.row-data-form .editor-field, .row-data-form .editor-image {display:block; float:left;} 
.editor-label-image {padding:0px !important;}
.editor-label-image img.image {border: 1px solid #D5D8DE;
border-radius: 3px 3px 3px 3px;
box-shadow: 0 0 3px #D5D8DE;
padding: 2px;
height:115px;
}
.editor-field-level2 {display:inline-block; clear:both; width:100%; margin-bottom:5px;}
.editor-field-level2 span {display:block; display:inline-block; clear:both; margin-bottom:5px;}
.editor-field-level2-container {}
.editor-field-level2-container textarea {height:43px;}
.row-border-bottom {border-bottom: 1px dotted #ddd;}
.editor-field input[type=text], .editor-field input[type=password], .editor-field select, .editor-field textarea
{
float:left; 
margin-right:5px;
width:300px;
}
.editor-field textarea{overflow:auto;}
.editor-field select {width:310px;}
.editor-field input[type=text]:focus { background:none; background-color: #fdfcf6; }
.editor-field label.error {float:left; display:block; clear:none; padding-top:5px;}
.row-submit, .row-submit-delete {padding:5px; text-align:center;border-top:1px dotted #dedede;}
.row-submit-delete {border:0px}
.row-data-form-header {text-align:center; padding-bottom:10px;border-bottom:1px dotted #dedede; font-size:110%;}
.row-data-form-header span.message { display:block; padding:5px; background-color:#FF0022; border: 1px solid #5E0000; color: #FFFFFF; text-shadow: 1px 0 1px #333333; text-align: center;}
        
.row-data {display:inline-block; clear:both; width:100%; border-bottom:1px dotted #dedede;}
.row-data .display-label {float:left; /*color:#888*/; padding:5px;}
.row-data .display-field {float:left;width:578px; background-color:#fff; text-align:justify; padding:5px; border-left:1px dotted #ddd; border-right:1px dotted #ddd; min-height:12px; }
.row-data .display-field ul li {padding:2px;}
.row-data .red {color:#EB2700;}
.row-data .display-field p {line-height:150%;}

.row-data-form {display:inline-block; clear:both; width:100%; padding:5px 0 0 0;  }
.row-data-form .editor-label,.row-data-form .editor-label-image {display:block; float:left;padding-top:5px;  color:#888;}     
.row-data-form .editor-field, .row-data-form .editor-image {display:block; float:left;} 
.editor-label-image {padding:0px !important;}
.editor-label-image img.image {border: 1px solid #D5D8DE;
border-radius: 3px 3px 3px 3px;
box-shadow: 0 0 3px #D5D8DE;
padding: 2px;
height:115px;
}
.editor-field-level2 {display:inline-block; clear:both; width:100%; margin-bottom:5px;}
.editor-field-level2 span {display:block; display:inline-block; clear:both; margin-bottom:5px;}
.editor-field-level2-container {}
.editor-field-level2-container textarea {height:43px;}
.row-border-bottom {border-bottom: 1px dotted #ddd;}

table.table_mgr {
background:#ccc;
width: 100%;
border-spacing:1px;
}
table.table_mgr tr.header td, table.table_mgr tr.header:hover td {background-color:#F0F7FA !important;font-weight:bold; text-align:center; }
table.table_mgr th {
background: none repeat scroll 0 0 #2B2B2B;
	padding:3px 5px;
color:#FFFFFF;
font-weight:bold;
text-align:center;
}

table.table_mgr tr td
{
background:#fff;   
padding:3px 5px; 
}
table.table_mgr tr.odd td {
background: #fbfbfb;
}

table.table_mgr tr:hover td { background: #fdfcf6; }

table.table_mgr .action {
text-align: right;
padding: 0 5px 0 5px;
width: 185px;
}
.cmd-button {margin-bottom:10px;}
table.table_mgr tr .action a{opacity:0.8;filter:alpha(opacity=80); margin: 0 0 0 10px; text-decoration: none; color: #444444; padding:0 0px 2px 20px; }
table.table_mgr tr .action a.edit, div.action a.edit,td span.edit a {background: url("../Images/icon/act_edit.png") no-repeat left transparent; }
table.table_mgr tr .action a.delete, div.action a.delete, td span.delete a {background: url("../Images/icon/act_delete.png") no-repeat left transparent; }
table.table_mgr tr .action a.view, div.action a.view, td span.view a {background: url("../Images/icon/act_view.png") no-repeat left transparent; }
table.table_mgr tr:hover .action a{opacity:1;filter:alpha(opacity=100)}
table.table_mgr tr:hover .action .edit { color: #c5a059; }
table.table_mgr tr:hover .action .delete { color: #a02b2b; }
table.table_mgr tr:hover .action .view { color: #55a34a;}
table.table_mgr tr td.center {text-align:center;}
table.table_mgr tr td.red { color:#EB2700;}
table.table_mgr tr:hover .action a:hover { text-decoration: underline; }

input.error, textarea.error, select.error {border:1px solid #C40000 !important; color:#C40000; background:#FFE3E3;}
span.star {font-weight:bold;color:#C40000; }

input.small
{
    width:65px !important; margin-right:10px !important;
}

/* Style for Usual tabs */
.box-tabs { font:12px Arial,Helvetica,sans-serif !important;}
.box-tabs ul { list-style: none; padding: 0px; margin: 0px; }
.box-tabs .header { display: inline-block; clear: both; width: 100%; background: url(../images/tab-bg-header.gif) repeat-x bottom center; }
.box-tabs .header li { float: left; padding-right: 5px; }
.box-tabs .header li a { display: block; padding: 8px 16px; background: #666; color: #fff; font: bold 12px Arial, Helvetica, sans-serif; border: 1px solid #CCCCCC; border-bottom: 0px; }
.box-tabs .header li a.selected { background: url(../images/tab_on.jpg) repeat-x top center #fff; color: #3B7EB1; border: 1px solid #CCCCCC; border-bottom: 0px; }
.box-tabs .content { background: #fff; padding: 10px 2%; width: 96%; border-bottom: 1px solid #fff; border: 1px solid #CCCCCC; border-top: 0px;font:12px Arial,Helvetica,sans-serif !important; }