@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Trang không tồn tại.</h1>
<h2 class="text-danger">Nội dung bạn xem không tồn tại, vui lòng thử truy cập vào liên kết khác.</h2>

