@model List<QNews.Models.CategoryViewModel>
@{
    ViewBag.Title = "Rss";
}


<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i> Trang chủ</a></li>
    <li>/</li>
    <li class="active"><h2><a href="/rss">Rss</a></h2></li>
</ol>


<div class="new-content">
    <p>
        <strong>RSS là gì ?</strong><br>
        RSS (Really Simple Syndication) là một chuẩn tựa XML được rút gọn dành cho việc
        phân tán và khai thác nội dung thông tin Web (ví dụ như các tiêu đề tin tức). Sử
        dụng RSS, các nhà cung cấp nội dung Web có thể dễ dàng tạo và phổ biến các nguồn
        dữ liệu ví dụ như các liên kết tin tức, tiêu đề, ảnh và tóm tắt
    </p>
    <p><br /></p>
    <p>
        <strong>vpctqg.gov.vn cung cấp những nội dung nào qua RSS ?</strong><br>
        vpctqg.gov.vn hiện tại cung cấp các kênh dữ liệu dưới đây theo định dạng chuẩn mới nhất
        RSS 2.0. Các nguồn kênh tin này là miễn phí cho việc sử dụng dưới mục đích cá nhân
        và phi lợi nhuận. Các thuộc tính đi kèm các nguồn tin này là bắt buộc
    </p>
</div>
<br />
<br />
<div>
    <table class="table-doc" style="width:100%;">
        <tr>
            <td><img src="/Content/Publishing/rss/rss_button.gif" /></td>
            <td><a href="/rss/newest">Tin mới nhất</a></td>
            <td><a href="http://us.rd.yahoo.com/my/*http://add.my.yahoo.com/rss?url=@(HttpContext.Current.Request.Url)/rss/newest"><img src="~/Content/Publishing/rss/addtomyyahoo4.gif" /></a></td>
            @*<td><a href="http://www.newsgator.com/ngs/subscriber/subext.aspx?url=@linkRss"><img src="~/Content/Publishing/rss/newsgator.gif" /></a></td>
            <td><a href="http://client.pluck.com/pluckit/prompt.aspx?a=@(HttpContext.Current.Request.Url)/rss/newest"><img src="~/Content/Publishing/rss/pluckit.png" /></a></td>*@
            <td><a href="http://www.bloglines.com/sub/@(HttpContext.Current.Request.Url)/rss/newest"><img src="~/Content/Publishing/rss/bloglines.gif" /></a></td>
            <td><a href="http://www.rojo.com/add-subscription?resource=@(HttpContext.Current.Request.Url)/rss/newest"><img src="~/Content/Publishing/rss/add-to-rojo.gif" /></a></td>
        </tr>
        @{
            var allItem = Model.Where(o => o.ID > 0);
        }
        @foreach (var item in allItem.Where(o => ((o.ParentID == 0 && (string.IsNullOrEmpty(o.CurrentUrl)) || (allItem.Where(c => c.ParentID == o.ID).Count() > 0))) && o.Show).OrderBy(o => o.Order))
        {
            var linkRss = HttpContext.Current.Request.Url + "/" + item.Url;
            linkRss = linkRss.Replace("/rss//", "/rss/");
            <tr>
                <td><img src="/Content/Publishing/rss/rss_button.gif" /></td>
                <td><a href="@linkRss">@item.Name</a></td>
                <td><a href="http://us.rd.yahoo.com/my/*http://add.my.yahoo.com/rss?url=@linkRss"><img src="~/Content/Publishing/rss/addtomyyahoo4.gif" /></a></td>
                @*<td><a href="http://www.newsgator.com/ngs/subscriber/subext.aspx?url=@linkRss"><img src="~/Content/Publishing/rss/newsgator.gif" /></a></td>
                    <td><a href="http://client.pluck.com/pluckit/prompt.aspx?a=@linkRss"><img src="~/Content/Publishing/rss/pluckit.png" /></a></td>*@
                <td><a href="http://www.bloglines.com/sub/@linkRss"><img src="~/Content/Publishing/rss/bloglines.gif" /></a></td>
                <td><a href="http://www.rojo.com/add-subscription?resource=@linkRss"><img src="~/Content/Publishing/rss/add-to-rojo.gif" /></a></td>
            </tr>
            foreach (var item_child in allItem.Where(o => o.ParentID == item.ID && o.Show).OrderBy(o => o.Order))
            {
                var linkRss_child = HttpContext.Current.Request.Url + "/" + item_child.Url;
                linkRss_child = linkRss_child.Replace("/rss//", "/rss/");
                <tr>
                    <td><img src="/Content/Publishing/rss/rss_button.gif" /></td>
                    <td><a href="@linkRss_child">--- @item_child.Name</a></td>
                    <td><a href="http://us.rd.yahoo.com/my/*http://add.my.yahoo.com/rss?url=@linkRss_child"><img src="~/Content/Publishing/rss/addtomyyahoo4.gif" /></a></td>
                    @*<td><a href="http://www.newsgator.com/ngs/subscriber/subext.aspx?url=@linkRss_child"><img src="~/Content/Publishing/rss/newsgator.gif" /></a></td>
                    <td><a href="http://client.pluck.com/pluckit/prompt.aspx?a=@linkRss_child"><img src="~/Content/Publishing/rss/pluckit.png" /></a></td>*@
                    <td><a href="http://www.bloglines.com/sub/@linkRss_child"><img src="~/Content/Publishing/rss/bloglines.gif" /></a></td>
                    <td><a href="http://www.rojo.com/add-subscription?resource=@linkRss_child"><img src="~/Content/Publishing/rss/add-to-rojo.gif" /></a></td>
                </tr>
            }
        }
    </table>
</div>
<br />
<br />
<div class="new-content">
    <p>
        <strong>Sử dụng RSS như thế nào</strong><br>
        Các ứng dụng phổ biến về việc cung cấp và sử dụng RSS bao gồm:
    </p>
    <br />
    <ol style="margin-left:20px;">
        <li>
            Sử dụng một chương trình Khai Thác Thông Tin (News Aggregator,News Spider) để thu
            thập, cập nhật và hiển thị các nguồn kênh tin dạng RSS
        <li>Kết hợp nguồn kênh tin RSS vào một nhật trình Web (weblogs) </li>
    </ol>
    <br />
    <p>
        News Aggregators (hay trình Khai Thác Thông Tin) sẽ tải xuống và hiển thị các nguồn
        kênh tin RSS cho bạn. Có một số các chương trình dạng này cho phép bạn download
        miễn phí để cài đặt trên máy cá nhân hoặc sử dụng trực tiếp thông qua trình duyệt.
    </p>
    <br />
    <p align="justify">
        <font color="#006AD5" size="3"><strong>Các chương trình đọc RSS</strong></font><br>
        <strong>Windows</strong>: <a href="http://www.newzcrawler.com" target="_blank">
            Newz
            Crawler
        </a> | <a href="http://www.feeddemon.com/feeddemon/index.asp" target="_blank">
            FeedDemon
        </a> | <a href="http://www.awasu.com/" target="_blank">Awasu</a><strong>
            <br>
            Mac OS X:
        </strong> <a href="http://www.newsfirerss.com/" target="_blank">Newsfire</a>
        | <a href="http://ranchero.com/netnewswire/" target="_blank">NetNewsWire</a><strong>
            <br>
            Web:
        </strong> <a href="http://www.bloglines.com" target="_blank">Bloglines</a>
        | <a href="http://my.yahoo.com/" target="_blank">My Yahoo!</a> | <a href="http://www.newsgator.com/ngs/default.aspx"
                                                                            target="_blank">NewsGator</a><strong>
            <br>
            Browser:
        </strong><a href="http://www.mozilla.com/firefox/" target="_blank">
            Mozilla
            Firefox
        </a> | <a href="http://www.microsoft.com/ie/" target="_blank">
            Microsoft Internet
            Explorer 7
        </a>
    <br />
    </p>
    <p style="margin-bottom: 12pt">
        Một cách sử dụng nguồn kênh tin RSS khác được nhiều người ưa thích là kết hợp nội
        dung vào các nhật trình Web (weblogs, hay "blogs"). Blogs là những trang web mang
        tính các nhân và bao gồm các mẩu tin và liên kết ngắn, thường xuyên cập nhật.
    <br />
    </p>
    <p align="left">
        <strong>Các giới hạn sử dụng</strong><br>
        Các nguồn kênh tin được cung cấp miễn phí cho các cá nhân và các tổ chức phi lợi
        nhuận. Chúng tôi yêu cầu bạn cung cấp rõ các thông tin cần thiết khi bạn sử dụng
        các nguồn kênh tin này từ vpctqg.gov.vn
        <br />
    </p>
    <p align="left">
        Nếu bạn định ghi dưới dạng văn bản, hãy ghi: "vpctqg.gov.vn”. Nếu bạn định ghi dưới
        dạng đồ họa, hãy sử dụng biểu tượng của vpctqg.gov.vn đi kèm trong mỗi nguồn tin
        <br />
    </p>
    <p align="left">
        vpctqg.gov.vn hoàn toàn có quyền yêu cầu bạn ngừng cung cấp và phân tán thông tin dưới
        dạng này ở bất kỳ thời điểm nào và với bất kỳ lý do nào.
    </p>
</div>